@charset "UTF-8";

@media screen and (max-width: 600px) {
  .principal {
    height: 55vh;
    background: url(assets/background-coffee-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .hero {
    margin: auto;
    max-width: 600px;
    height: 65vh;
  }
  .hero-conteudo {
    max-width: 580px;
    height: 50vh;
    align-items: center;
    text-align: center;
  }
  .hero-imagem-container {
    display: none;
  }

  .receitas {
    max-width: 600px;
  }
}

@media screen and (max-width: 1120px) {
  nav > span#logo-menu {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav > span#logo-menu:hover {
    cursor: pointer;
    color: #ffffff8c;
    transition: 1s;
  }

  menu#itens {
    padding: 0;
    padding-left: 10px;
    height: 30vh;
  }

  menu > span.logo {
    display: block;

    font-size: 3rem;
  }

  menu > ul.menu {
    display: block;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  menu > a {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    padding-top: 1rem;
  }
  .hero {
    margin: auto;
    max-width: 768px;
    gap: 5rem;
  }
  .hero-imagem-container {
    column-count: 3;
  }
  figure {
    margin-bottom: 0rem;
  }

  .linha01 {
    transform: translate(0rem, 3rem);
  }

  .linha02 {
    transform: translate(0rem, 3rem);
  }

  #img03 {
    transform: translate(0rem, 7rem);
  }

  #img04 {
    display: none;
  }

  #img05 {
    transform: translate(0rem, 11rem);
  }

  #img06 {
    transform: translate(0rem, 11.5rem);
  }

  #img07 {
    transform: translate(0rem, -16rem);
  }

  #img08 {
    transform: translate(0rem, 3rem);
  }

  #img09 {
    display: none;
  }

  #img10 {
    display: none;
  }

  #img11 {
    transform: translate(0rem, -2rem);
  }

  #img12 {
    transform: translate(0rem, -2rem);
  }

  .hero-imagem-container > figure > image {
    width: 100%;
  }

  .botao-container {
    max-width: 768px;
    height: 5vh;
  }
  .receitas {
    max-width: 768px;
    margin: auto;
  }
  .receitas-header {
    align-items: center;
  }
  .receitas-card-container {
    justify-content: center;
  }
}

@media screen and (min-height: 700px) and (min-width: 1920px) {
  figure {
    margin-bottom: 5.2rem;
  }

  .linha01 {
    transform: translate(0rem, 2rem);
  }

  .linha02 {
    transform: translate(0rem, -2rem);
  }

  #img03 {
    transform: translate(0rem, 4rem);
  }

  #img04 {
    transform: translate(0rem, 2rem);
  }

  #img05 {
    transform: translate(0rem, 0rem);
  }

  #img06 {
    transform: translate(0rem, 3.2rem);
  }

  #img07 {
    transform: translate(0rem, 2rem);
  }

  #img08 {
    transform: translate(0rem, 3rem);
  }

  #img09 {
    transform: translate(0rem, 3.5rem);
  }

  #img10 {
    transform: translate(0rem, 2rem);
  }

  #img11 {
    transform: translate(0rem, 0rem);
  }

  #img12 {
    transform: translate(0rem, 3.2rem);
  }
}
